<div>
  <h1 class="!font-bold px-4 pt-8">Conversations</h1>
  <label
    class="bg-[#515151] px-4 input input-bordered flex items-center gap-2 rounded-lg mx-4"
  >
    <input type="text" class="grow" placeholder="Search" />
    <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search" />
  </label>
  <div class="flex flex-wrap gap-4 mb-8 mt-4 px-4">
    <button mat-flat-button class="!rounded-full !bg-pink-600">All</button>
    <button mat-flat-button class="!rounded-full">Not read</button>
    <button mat-flat-button class="!rounded-full">Favories</button>
    <button mat-flat-button class="!rounded-full">Groups</button>
  </div>
  <ul>
    @for (item of list; track item) {
    <li
      class="my-4 cursor-pointer px-4 py-2 !m-0"
      [ngClass]="item.name == 'Romain Bidault' ? 'bg-[#515151]' : ''"
    >
      <div class="flex gap-4">
        <div class="avatar online">
          <div class="w-16 rounded-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>
        <div class="flex flex-col justify-between">
          <h4 class="!text-lg !font-bold !m-0">{{ item.name }}</h4>
          <h5 class="!text-base !font-semibold !m-0">{{ item.lastMsg }}</h5>
        </div>
      </div>
    </li>
    <mat-divider class="!mt-0" />
    } @empty {
    <li>You don't have conversations</li>
    }
  </ul>
</div>
