<div>
  <div class="dropdown w-full">
    <label
      tabindex="0"
      class="bg-[#515151] input input-bordered flex items-center gap-2 rounded-lg"
    >
      <input type="text" class="grow" placeholder="Search" />
      <mat-icon
        aria-hidden="false"
        aria-label="Search icon"
        fontIcon="search"
      />
    </label>
    <ul
      tabindex="0"
      class="!flex-nowrap dropdown-content menu bg-[#515151] rounded-box z-[20] w-full p-2 mt-2 shadow-lg [&_li>*:not(ul):not(.menu-title):active]:bg-[#333333] overflow-y-auto h-[500px]"
    >
      @for (item of list; track item) {
      <li
        class="w-full"
        onclick="modal_start_conv.showModal()"
        (click)="selectUser(item)"
      >
        <div class="flex justify-between w-full">
          <div class="flex gap-4 items-center">
            <div class="avatar online">
              <div class="w-10 rounded-full">
                <img src="./profile_picture.jpg" />
              </div>
            </div>
            <h4 class="!text-base !font-bold !m-0">{{ item.username }}</h4>
          </div>
          <mat-icon
            aria-hidden="false"
            aria-label="Send icon"
            fontIcon="send"
          />
        </div>
      </li>
      }
    </ul>
  </div>
</div>
<app-modal-start-conv
  [id]="userSelectedId"
  [name]="userSelectedName"
  [imgUrl]="userSelectedImgUrl"
/>
