<dialog id="modal_my_user" class="modal">
  <div class="modal-box bg-[#333333]">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <div class="flex flex-row items-center w-full justify-between px-12">
      <div class="flex flex-row space-x-4 items-center">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <img src="./profile_picture.jpg" />
          </div>
        </div>
        <h2 class="!font-bold !mb-0">{{ user?.username }}</h2>
        <button
          (click)="editUserFormOpened()"
          class="underline text-lg !text-[var(--primary-color)]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <button
        (click)="signOut()"
        class="underline text-lg !text-[var(--primary-color)]"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    @if(editUser()) {
    <div class="flex flex-col p-8 pb-0 space-y-8">
      <form
        (ngSubmit)="submitUpdateUser($event)"
        [formGroup]="updateUserForm"
        class="flex flex-col space-y-5"
      >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            type="username"
            id="username"
            name="username"
          />
        </mat-form-field>
        @if(updateUserForm.controls.password.invalid &&
        (updateUserForm.controls.password.touched ||
        updateUserForm.controls.password.dirty)) {
        <small
          *ngIf="updateUserForm.controls.username.errors?.['minlength']"
          class="text-red-500 mb-2"
          >*The username must be contains 3 characters</small
        >
        }
        <h3 class="!font-bold">Confirm your password to validate</h3>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            id="password"
            name="password"
            required
          />
        </mat-form-field>
        @if(updateUserForm.controls.password.invalid &&
        (updateUserForm.controls.password.touched ||
        updateUserForm.controls.password.dirty)) {
        <small
          *ngIf="updateUserForm.controls.password.errors?.['required']"
          class="text-red-500 mb-2"
          >*The password is required to update your informations</small
        >
        }
        <div class="flex flex-row space-x-4">
          <button
            mat-flat-button
            class="!bg-red-500"
            type="button"
            (click)="editUserFormOpened()"
          >
            Cancel
          </button>
          <button mat-flat-button class="flex-1" type="submit">
            Update my profile
          </button>
        </div>
      </form>
      <error-message
        [errorMessage]="formSubmissionErrorMessage()"
      ></error-message>
    </div>

    }<success-message
      [successMessage]="formSubmissionSuccessMessage()"
    ></success-message>
  </div>
</dialog>
